body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  color: black;
  padding:8px 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}

.legend li {
  width: 50px;
  height: 20px;
}

h1 {
  text-align: center;
}